<div class='container'>
  <div class='form-group'>
    <div style="margin-top: 50px;">
      <%= form_for message, remote: true, authenticity_token: true do |f| %>
        <div class='field'>
          <%= f.label :your_message, class: 'control-label' %>:
          <%= f.text_area :content, class: "form-control", data: {textarea: "message"} %>
        </div>

        <%= f.hidden_field :chatroom_id, value: chatroom.id %>
        <%= f.submit "send", class: "btn btn-primary", data: {send: "message"} %>
      <% end %>
    <div>
  <div>
<div>
